# **Algorithm Trading**

This project is to demonstrate a trading strategy based on the algorithm combining the market capitalization, quantitative momentum, and P/E ratio. The index presented in this project is S&P 500 Index Fund. 

The S&P 500 is the world's most popular stock market index. The largest fund that is benchmarked to this index is the SPDR® S&P 500® ETF Trust. It has more than US$250 billion of assets under management.

The goal of this project is to create a portfolio model based on how much the investment funds from the client. The model will make a suggestion on how many shares of each S&P 500 constituent the client should purchase to get an equal-weight version of the index fund. I will divide the whole models in three sections: the market capitalization, return-of-period, and P/E ratio. Then I will select the optimal 50 stocks in each section

For simplicity, I built this model based on equal-weight strategy. The equal-weight strategy means the investment funds will be allocated equally on the selected stocks. Also, the data is based on free service from Wikipedia and IEX Cloud API. IEX Cloud is a platform that makes financial data and services accessible to everyone. The data is not real-time and may not be accurate.

In [1]:
!pip install XlsxWriter

Requirement already satisfied: XlsxWriter in /usr/local/lib/python3.7/dist-packages (1.4.3)

In [2]:
# import libraries
import numpy as np
import pandas as pd
import requests
import xlsxwriter
import math
from statistics import mean
from scipy.stats import percentileofscore as score

The list from the S&P 500 Index Fund is from Wikipedia.

In [3]:
# There are 2 tables on the Wikipedia page
# we want the first table

spy500 = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
first_table = spy500[0]
second_table = spy500[1]
spy_df = first_table

In [4]:
spy_df.head()

  Symbol             Security  ...      CIK      Founded
0    MMM                   3M  ...    66740         1902
1    ABT  Abbott Laboratories  ...     1800         1888
2   ABBV               AbbVie  ...  1551152  2013 (1888)
3   ABMD              Abiomed  ...   815094         1981
4    ACN            Accenture  ...  1467373         1989

[5 rows x 9 columns]

In [5]:
# Create the S&P500 into a Dataframe
stocks = spy_df['Symbol'].to_frame()
stocks.rename(columns = {'Symbol':'Ticker'}, inplace = True)
print(stocks[:10])

  Ticker
0    MMM
1    ABT
2   ABBV
3   ABMD
4    ACN
5   ATVI
6   ADBE
7    AMD
8    AAP
9    AES

In [6]:
type(stocks)

pandas.core.frame.DataFrame

To use any IEX Cloud API, you must pass an API token with each request. I upload the the token from the local drive.

In [7]:
from google.colab import files
apiKey = files.upload()

Saving apiKey.py to apiKey (6).py

In [8]:
from apiKey import IEX_CLOUD_API_TOKEN

## **Market Capitalization**
In this section, I will create a dataframe based on the market capitalization and calculate the number of shares to buy.

In [9]:
col_marketCap = ['Ticker', 'Price', 'Market Capitalization', 'Number of Shares to Buy']
df_marketCap = pd.DataFrame(columns = col_marketCap)

**Batch API Calls**

HTTP requests are one of the slowest components of a script. We can improve the performance by batch API calls. IEX Cloud limits their batch API calls to 100 tickers per request. Therefore, I will split the list of stocks into batch of 100 and then make a batch API call for each batch.

In [10]:
# create chunk generator
def chunks(lst, n):
  for i in range(0, len(lst), n):
    yield lst[i:i+n]

In [11]:
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
  symbol_strings.append(','.join(symbol_groups[i]))

Create the dateframe by pulling the related data from IEX Cloud.

In [12]:
for symbol_string in symbol_strings:
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        df_marketCap = df_marketCap.append(
                                        pd.Series([symbol, 
                                                   data[symbol]['quote']['latestPrice'], 
                                                   data[symbol]['quote']['marketCap'], 
                                                   'N/A'], 
                                                  index = col_marketCap), 
                                        ignore_index = True)

In [13]:
df_marketCap

    Ticker   Price Market Capitalization Number of Shares to Buy
0      MMM  208.05          116944441540                     N/A
1      ABT  113.18          202899274457                     N/A
2     ABBV  121.15          206110244610                     N/A
3     ABMD  306.94           13934147100                     N/A
4      ACN  288.58          198175757159                     N/A
..     ...     ...                   ...                     ...
500    YUM  122.37           35745153292                     N/A
501   ZBRA  519.70           28054784052                     N/A
502    ZBH  161.86           33362085111                     N/A
503   ZION   55.17            9356115201                     N/A
504    ZTS  191.59           88518760165                     N/A

[505 rows x 4 columns]

**Investment Fund**

This section will require the input data from the investment fund from the client in integer format. If the input data is not in integer, the model will return with an error message.

In [14]:
portfolio_amt = input('Enter the value of your portfolio: ')
try: 
  val = float(portfolio_amt)
  print(val)
except ValueError:
  print('That is not an interger. Please try again.')
  portfolio_amt = input('Please Enter and integer')
  val = float(portfolio_amt)

Enter the value of your portfolio: 300000
300000.0

This section is to calculte thecapital on each stocks based on equal-weight strategy. The model will select the 50 stocks with the highest market capitalization. From there and will calculate the recommended trades for an equal-weight portfolio of these 50 stocks.

In [15]:
df_marketCap50 = df_marketCap.sort_values('Market Capitalization', ascending = False)
df_marketCap50 = df_marketCap[:50]
df_marketCap50 = df_marketCap50.reset_index(drop = True)

# ***The recommended trades of 50 stocks based on market capitalization***

In [17]:
portfolio_marketCap50 = val/len(df_marketCap50.index)
for i in range(0, len(df_marketCap50['Ticker'])):
  df_marketCap50.loc[i, 'Number of Shares to Buy'] = math.floor(portfolio_marketCap50/ df_marketCap50['Price'][i])

In [18]:
df_marketCap50

   Ticker    Price Market Capitalization Number of Shares to Buy
0     MMM   208.05          116944441540                      28
1     ABT   113.18          202899274457                      53
2    ABBV   121.15          206110244610                      49
3    ABMD   306.94           13934147100                      19
4     ACN   288.58          198175757159                      20
5    ATVI    99.64           75301413372                      60
6    ADBE   575.50          270766436207                      10
7     AMD    82.81           98551932535                      72
8     AAP   204.56           13671432903                      29
9     AES    26.34           17766480104                     227
10    AFL    56.80           38749625336                     105
11      A   147.77           44951457062                      40
12    APD   308.15           69640829491                      19
13   AKAM   122.52           20129409931                      48
14    ALK    65.83            8223665477                      91
15    ALB   173.07           19563141854                      34
16    ARE   190.71           27100524084                      31
17   ALXN   185.70           40553201605                      32
18   ALGN   601.07           49590539237                       9
19   ALLE   142.30           12522829352                      42
20    LNT    60.60           14910462674                      99
21    ALL   137.88           41263215091                      43
22  GOOGL  2466.75         1651537627312                       2
23   GOOG  2610.58         1727619419344                       2
24     MO    48.70           91282435648                     123
25   AMZN  3425.89         1788579177828                       1
26   AMCR    12.39           19555948121                     484
27    AEE    87.82           22250047747                      68
28    AAL    23.68           15256913500                     253
29    AEP    86.32           43199210255                      69
30    AXP   170.00          140139504512                      35
31    AIG    52.17           46038689448                     115
32    AMT   279.10          125271769146                      21
33    AWK   168.76           29392106435                      35
34    AMP   261.09           30924658120                      22
35    ABC   122.59           25167505510                      48
36    AME   143.66           31985149602                      41
37   AMGN   248.46          140853286702                      24
38    APH    69.18           41680699574                      86
39    ADI   170.19           62534591610                      35
40   ANSS   336.69           30699169535                      17
41   ANTM   391.87           97387843643                      15
42    AON   256.58           58766413156                      23
43    AOS    70.05           11198397249                      85
44    APA    22.87            8845636126                     262
45   AAPL   135.78         2241511509037                      44
46   AMAT   145.19          129901034126                      41
47   APTV   162.00           43178926401                      37
48    ADM    66.42           37547044114                      90
49   ANET   369.53           28229626212                      16

Export to Excel format

In [19]:
writer= pd.ExcelWriter('Recommended Trades_Market Cap.xlsx', engine = 'xlsxwriter')
df_marketCap50.to_excel(writer, 'Recommended Trades_Market Cap', index = False)
writer.save()

# **Quantitative Momentum Strategy**

"Momentum investing" means investing in the stocks that have increased in price the most.

The investment firms differentiate between "high quality" and "low quality" momentum stocks:

* High-quality momentum stocks show "slow and steady" outperformance over long periods of time
* Low-quality momentum stocks might not show any momentum for a long time, and then surge upwards.

The investors prefer the high-quality momentum stocks because the high-quality stocks yield stable positive returns. On the other hand, the low-quality momentum can often be cause by short-term news that is unpredictable or is unlikely to be repeated in the future, such as the surge of the pharmaceutical companies benefitting from the covid vaccines.

To identify high-quality momentum, we're going to build a strategy that selects the top 50 stocks from the highest percentiles of:

* 1-month price returns
* 3-month price returns
* 6-month price returns
* 1-year price returns

In [20]:
stable_col = [
              'Ticker', 
              'Price', 
              'Number of Shares to Buy', 
              'One-Year Price Return', 
              'One-Year Return Percentile',
              'Six-Month Price Return',
              'Six-Month Return Percentile',
              'Three-Month Price Return',
              'Three-Month Return Percentile',
              'One-Month Price Return',
              'One-Month Return Percentile',
              'Stable Return Score'
              ]

df_stable = pd.DataFrame(columns = stable_col)

In [21]:
for symbol_string in symbol_strings:
#     print(symbol_strings)
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        df_stable = df_stable.append(
                                      pd.Series([symbol, 
                                                  data[symbol]['quote']['latestPrice'],
                                                  'N/A',
                                                  data[symbol]['stats']['year1ChangePercent'],
                                                  'N/A',
                                                  data[symbol]['stats']['month6ChangePercent'],
                                                  'N/A',
                                                  data[symbol]['stats']['month3ChangePercent'],
                                                  'N/A',
                                                  data[symbol]['stats']['month1ChangePercent'],
                                                  'N/A',
                                                  'N/A'
                                                  ], 
                                                  index = stable_col), 
                                        ignore_index = True)

In [22]:
# create the list for the loop
time_periods = ['One-Year', 'Six-Month', 'Three-Month', 'One-Month']

In [23]:
for row in df_stable.index:
  for time_period in time_periods:
    change_col = f'{time_period} Price Return'
    percentile_col = f'{time_period} Return Percentile'
    df_stable.loc[row, f'{time_period} Return Percentile'] = score(df_stable[change_col], df_stable.loc[row, f'{time_period} Price Return'])/100

Calculating the high-quality momentum(HQM) Score
This model is to calculate the HQM Score, which is the high-quality momentum score that I'll use to filter for stocks in this investing strategy. The HQM Score will be the arithmetic mean of the 4 momentum percentile scores.

In [39]:
for row in df_stable.index:
  momentum_percentiles = []
  for time_period in time_periods:
    momentum_percentiles.append(df_stable.loc[row, f'{time_period} Return Percentile'])
    df_stable.loc[row, 'HQM Score'] = mean(momentum_percentiles)

In [40]:
df_stable50 = df_stable[:50].sort_values('HQM Score', ascending = False)
df_stable50 = df_stable50.reset_index(drop = True)

# **The recommended trades of 50 stocks with the highest momentum**

In [41]:
portfolio_stable50 = val/len(df_stable50.index)
for i in range(0, len(df_stable50['Ticker'])):
  df_stable50.loc[i, 'Number of Shares to Buy'] = math.floor(portfolio_marketCap50/ df_stable50['Price'][i])

In [42]:
df_stable50

   Ticker    Price  ... HQM Return Score  HQM Score
0    AMAT   140.01  ...         0.950000   0.950000
1    GOOG  2635.65  ...         0.869307   0.869307
2    ANET   375.79  ...         0.843564   0.843564
3   GOOGL  2533.87  ...         0.837624   0.837624
4       A   148.57  ...         0.780693   0.780693
5    ALGN   607.52  ...         0.748020   0.748020
6    APTV   159.00  ...         0.733663   0.733663
7     AXP   173.62  ...         0.723762   0.723762
8    ALXN   185.10  ...         0.686139   0.686139
9     ALB   166.16  ...         0.674752   0.674752
10    AMP   260.17  ...         0.672772   0.672772
11    ADI   169.59  ...         0.669307   0.669307
12   ADBE   574.32  ...         0.668812   0.668812
13    AMT   273.46  ...         0.650495   0.650495
14    ADM    65.29  ...         0.623762   0.623762
15    ARE   184.57  ...         0.595050   0.595050
16    AME   142.11  ...         0.588119   0.588119
17    AIG    51.99  ...         0.583168   0.583168
18   ALLE   141.30  ...         0.562376   0.562376
19   AKAM   118.73  ...         0.532673   0.532673
20   ATVI    96.27  ...         0.527228   0.527228
21    AAP   204.79  ...         0.526238   0.526238
22    AFL    57.90  ...         0.520792   0.520792
23    AES    26.52  ...         0.519307   0.519307
24    LNT    59.05  ...         0.518317   0.518317
25   ANTM   396.19  ...         0.517822   0.517822
26    AWK   163.30  ...         0.517327   0.517327
27    AAL    23.79  ...         0.510396   0.510396
28    ALL   138.69  ...         0.496535   0.496535
29   AAPL   131.31  ...         0.488119   0.488119
30    AON   262.45  ...         0.475743   0.475743
31   AMZN  3420.37  ...         0.466832   0.466832
32    AEE    88.24  ...         0.461386   0.461386
33    ACN   297.30  ...         0.460396   0.460396
34    AOS    70.55  ...         0.460396   0.460396
35    MMM   205.93  ...         0.447525   0.447525
36    APH    70.14  ...         0.446535   0.446535
37    ABC   120.13  ...         0.442574   0.442574
38   ABMD   308.65  ...         0.425743   0.425743
39    AMD    82.15  ...         0.418812   0.418812
40    APD   305.21  ...         0.413366   0.413366
41    ALK    65.72  ...         0.412376   0.412376
42    APA    23.46  ...         0.402475   0.402475
43   ABBV   119.75  ...         0.383663   0.383663
44   ANSS   346.16  ...         0.359901   0.359901
45     MO    50.20  ...         0.327723   0.327723
46   AMCR    12.53  ...         0.315347   0.315347
47    AEP    87.79  ...         0.243564   0.243564
48   AMGN   248.52  ...         0.218317   0.218317
49    ABT   110.85  ...         0.143564   0.143564

[50 rows x 14 columns]

Export to Excel format

In [28]:
writer= pd.ExcelWriter('Recommended Trades_HQM Score.xlsx', engine = 'xlsxwriter')
df_stable50.to_excel(writer, 'Recommended Trades_HQM Score', index = False)
writer.save()

# **Quantitative Value Strategy**
"Value investing" in this model means the stocks with the highest P/E ratio. There are many different interpretations of the best value by different ranges of the P/E ratio. For simplicity, I will just use the highest P/E ratio.

In [43]:
col_pe = ['Ticker', 'Price', 'Price-to-Earnings Ratio', 'Number of Shares to Buy']
df_pe = pd.DataFrame(columns = col_pe)

In [30]:
for symbol_string in symbol_strings:
#     print(symbol_strings)
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        df_pe = df_pe.append(
                              pd.Series([symbol, 
                                          data[symbol]['quote']['latestPrice'],
                                          data[symbol]['quote']['peRatio'],
                                          'N/A'
                                          ], 
                                        index = col_pe), 
                              ignore_index = True)

In [31]:
df_pe = df_pe[df_pe['Price-to-Earnings Ratio'] > 0]
df_pe50 = df_pe[:50].sort_values('Price-to-Earnings Ratio', ascending = False).reset_index(drop = True)

# **The recommended trades of 50 stocks based on the P/E ratios**

In [32]:
portfolio_pe50 = val/len(df_pe50.index)
for i in range(0, len(df_pe50['Ticker'])):
  df_pe50.loc[i, 'Number of Shares to Buy'] = math.floor(portfolio_pe50/ df_pe50['Price'][i])

In [33]:
df_pe50

   Ticker    Price Price-to-Earnings Ratio Number of Shares to Buy
0     APA    23.43                  1084.2                     256
1    ALGN   626.14                  108.27                       9
2    APTV   161.00                   92.78                      37
3    AMZN  3413.55                   67.15                       1
4    ANSS   350.38                   66.44                      17
5     AMT   281.79                    65.2                      21
6    ABMD   306.73                   64.02                      19
7    ALXN   184.90                   61.74                      32
8     ALB   166.65                   50.63                      36
9       A   151.64                   50.53                      39
10   ADSK   276.79                   49.25                      21
11   ADBE   560.43                   48.27                      10
12   ANET   379.74                   42.82                      15
13    ADI   175.13                      42                      34
14    AWK   164.48                    41.5                      36
15    AME   140.53                   40.86                      42
16   ABBV   117.84                   39.79                      50
17    AVB   213.31                   38.25                      28
18    APD   307.60                    36.2                      19
19    ACN   289.65                   35.15                      20
20    AMD    81.95                   35.02                      73
21    ADP   199.63                   35.01                      30
22    ABT   113.37                      35                      52
23    AJG   145.51                   33.75                      41
24   AKAM   118.58                    33.7                      50
25    APH    71.67                   33.48                      83
26  GOOGL  2513.29                   33.28                       2
27   ATVI    97.85                   33.16                      61
28    ARE   185.99                   33.06                      32
29   ALLE   139.50                    31.3                      43
30    AOS    72.70                   30.24                      82
31   AAPL   132.86                    29.4                      45
32   AMAT   142.83                   29.38                      42
33    AVY   216.82                   28.89                      27
34    AXP   167.28                   27.87                      35
35    LNT    61.54                   24.24                      97
36    AIZ   165.20                   23.96                      36
37    AEE    89.43                   23.31                      67
38    AAP   207.48                   22.24                      28
39   AMCR    12.49                   21.87                     480
40    MMM   200.77                    21.4                      29
41     MO    48.70                   21.17                     123
42   AMGN   243.51                   20.72                      24
43   ANTM   393.00                    20.7                      15
44    AEP    87.78                   19.34                      68
45    ATO   104.63                   18.92                      57
46    AZO  1428.83                   18.28                       4
47    ADM    65.03                   17.73                      92
48    ALL   135.70                   12.13                      44
49    AFL    58.00                    7.43                     103

Export to Excel format

In [ ]:
writer= pd.ExcelWriter('Recommended Trades_HQM Score.xlsx', engine = 'xlsxwriter')
df_stable50.to_excel(writer, 'Recommended Trades_HQM Score', index = False)
writer.save()

Let's find out the stocks which exists on all three dataframe, i.e. the stocks "superstar" stocks.

In [48]:
top_list = list(set(df_marketCap50.Ticker) & set(df_stable50.Ticker) & set(df_pe50.Ticker))

In [47]:
print('There are', len(top_list), 'stocks exist on all three  dataframes.')
print()
print(top_list)

There are 42 stocks exist on all three  dataframes.

['ANSS', 'LNT', 'ALL', 'ALB', 'AEP', 'AFL', 'ATVI', 'ABBV', 'ANET', 'APA', 'AOS', 'AAPL', 'ADM', 'APD', 'ACN', 'APH', 'A', 'AMGN', 'GOOGL', 'AEE', 'APTV', 'AMZN', 'ALGN', 'ABT', 'ADI', 'AAP', 'ADBE', 'ALXN', 'AMT', 'AKAM', 'ABMD', 'ARE', 'ALLE', 'MO', 'AWK', 'ANTM', 'AMAT', 'AXP', 'AME', 'AMCR', 'AMD', 'MMM']

In [36]:
df_top = df_pe50[(df_pe50['Ticker'].isin(top_list))].drop(columns=['Price-to-Earnings Ratio']).reset_index(drop = True)
df_top['Number of Shares to Buy'] = np.nan

   Ticker    Price  Number of Shares to Buy
0     APA    23.43                      NaN
1    ALGN   626.14                      NaN
2    APTV   161.00                      NaN
3    AMZN  3413.55                      NaN
4    ANSS   350.38                      NaN
5     AMT   281.79                      NaN
6    ABMD   306.73                      NaN
7    ALXN   184.90                      NaN
8     ALB   166.65                      NaN
9       A   151.64                      NaN
10   ADBE   560.43                      NaN
11   ANET   379.74                      NaN
12    ADI   175.13                      NaN
13    AWK   164.48                      NaN
14    AME   140.53                      NaN
15   ABBV   117.84                      NaN
16    APD   307.60                      NaN
17    ACN   289.65                      NaN
18    AMD    81.95                      NaN
19    ABT   113.37                      NaN
20   AKAM   118.58                      NaN
21    APH    71.67                      NaN
22  GOOGL  2513.29                      NaN
23   ATVI    97.85                      NaN
24    ARE   185.99                      NaN
25   ALLE   139.50                      NaN
26    AOS    72.70                      NaN
27   AAPL   132.86                      NaN
28   AMAT   142.83                      NaN
29    AXP   167.28                      NaN
30    LNT    61.54                      NaN
31    AEE    89.43                      NaN
32    AAP   207.48                      NaN
33   AMCR    12.49                      NaN
34    MMM   200.77                      NaN
35     MO    48.70                      NaN
36   AMGN   243.51                      NaN
37   ANTM   393.00                      NaN
38    AEP    87.78                      NaN
39    ADM    65.03                      NaN
40    ALL   135.70                      NaN
41    AFL    58.00                      NaN

# **The Superstar stocks based on all three criteria.**

In [37]:
portfolio_top = val/len(top_list)
for i in range(0, len(top_list)):
  df_top.loc[i, 'Number of Shares to Buy'] = math.floor(portfolio_top/ df_top['Price'][i])
df_top

   Ticker    Price  Number of Shares to Buy
0     APA    23.43                    304.0
1    ALGN   626.14                     11.0
2    APTV   161.00                     44.0
3    AMZN  3413.55                      2.0
4    ANSS   350.38                     20.0
5     AMT   281.79                     25.0
6    ABMD   306.73                     23.0
7    ALXN   184.90                     38.0
8     ALB   166.65                     42.0
9       A   151.64                     47.0
10   ADBE   560.43                     12.0
11   ANET   379.74                     18.0
12    ADI   175.13                     40.0
13    AWK   164.48                     43.0
14    AME   140.53                     50.0
15   ABBV   117.84                     60.0
16    APD   307.60                     23.0
17    ACN   289.65                     24.0
18    AMD    81.95                     87.0
19    ABT   113.37                     63.0
20   AKAM   118.58                     60.0
21    APH    71.67                     99.0
22  GOOGL  2513.29                      2.0
23   ATVI    97.85                     72.0
24    ARE   185.99                     38.0
25   ALLE   139.50                     51.0
26    AOS    72.70                     98.0
27   AAPL   132.86                     53.0
28   AMAT   142.83                     50.0
29    AXP   167.28                     42.0
30    LNT    61.54                    116.0
31    AEE    89.43                     79.0
32    AAP   207.48                     34.0
33   AMCR    12.49                    571.0
34    MMM   200.77                     35.0
35     MO    48.70                    146.0
36   AMGN   243.51                     29.0
37   ANTM   393.00                     18.0
38    AEP    87.78                     81.0
39    ADM    65.03                    109.0
40    ALL   135.70                     52.0
41    AFL    58.00                    123.0

Export to Excel format

In [49]:
writer= pd.ExcelWriter('The Superstar Stocks.xlsx', engine = 'xlsxwriter')
df_stable50.to_excel(writer, 'The SuperStar Stocks', index = False)
writer.save()